
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Merriweather:wght@300;400&family=Poppins:wght@500&family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    list-style: none;
    border: none;
    text-decoration: none;
}body{
   font-family: 'Roboto', sans-serif;
}
.contentener{
    position: relative;
}


.loding{
    width: 100%;
    height: 100vh;
    
   position: fixed;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}



.yukle{
    width: 100px;
    height: 100px;
    border: 10px solid rgb(187, 181, 181);
    border-radius: 50%;
    border-top: 10px solid rgb(214, 95, 95);

    animation: login-animate 300ms infinite;
}

@keyframes  login-animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
transform: rotate(360deg);
    }
}


.watsapp{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 30px;
    margin-right: 10px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    
}
.watsapp p{
    background-color: #f0f8ff;
    padding: 5px;
    color: #000000;
    font-weight: 600;
}
.watsapp img{
    width: 60px;
    height: 60px;
   margin-left: 15px;
}


.Header{
    width: 100%;
    height: 100px;
    background-color: #f0f8ff;
    display: flex;
    justify-content: space-between;
    align-items: center;

   
}
.Header img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.header-iletisim h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    margin-top:8px;

       animation: blinker 2s linear infinite;
       
 
    
}
   @keyframes blinker {
       50% {
           opacity:.3;
       }
   }
.header-iletisim a {
    text-align: center;
    padding: 10px ;
      font-size: 1.5rem;
      margin-left:10%;
      font-weight: 900;
}
.header-iletisim p{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;


color: rgb(97, 93, 93);
}

.Banner{

    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
 
}
.urun-ad{
    text-align: center;
    margin: 15px;
    font-weight: 400;
    font-family:'Coiny', cursive,Arial, Helvetica, sans-serif
}

.Banner .silder{
    width: 100%;
    height: 150px;
 
    align-self: center;
    margin-top: 10px;
   
}


    .Animation-acılır{
 
animation-name: b;
    animation-duration: 1,5s;
    animation-timing-function:ease;
    animation-fill-mode: forwards;


    
}

   @keyframes b {


       from {
         width: 0px;
        height: 0px;
       }
      to{
          width: 100%;
          height: auto;
           background-color:#d1b29d;

        
            
            
       } 
   }  






.acılırda-icerikleri-delete{
    display: none;

}

.error{
    border: 2px solid red;
    transition: 300ms all;
}
.new-stil{
    color: #F4F4F4;
    background-color: red;
    padding: 5px;
    font-size: 12px;
    margin-left: -55%;
    margin-top: -10px;
    margin-bottom: 15px;
    transition: 300ms all;
    border-radius: 5px;
}


    .ornek{
      
        position: fixed;
        margin-top: 40%;
      
        display: none;
        color: #f0f8ff;
        background-color: #94deed;
        width: 100%;
        height: 300px;
        
      
     
    }
    .ornek img{
      width: 100%;
         height: 300px;
       
        
        border-radius: 5px;
        margin: auto;
        border: 3px solid rgb(105, 102, 102);

    }
    .ornek .icindekiler{
        font-size: 24px;
        font-weight: 700;
        margin-top: 10px;
        text-align: center;
    }
 

    .ornek p:first-child{
        right: 0;
        position: absolute;
        font-size: 34px;
        font-weight: bold;
    }
    .ornek h2{
        font-weight: 700;
        font-size: 26px;
        margin-top: 40px;
       text-align: center;
        
      
    }
    .ornek p:last-child{
        font-size: 18px;
        text-align: center;
        margin-top: 5px;
        line-height: 22px;
        margin-bottom: 10px;

    }

       .ornek .cıkıs{
         color: rgb(255, 255, 255);
         font-size: 24px;
           right: 0;
        position: absolute;
        font-size: 34px;
        font-weight: bold;
        margin-right: 15px;
        margin-top: 10px;
        background-color: #4C4C4C;
        width: 38px;
        height: 38px;
        text-align: center;
       }

       
   


 .silder-image {
    width: 100%;
    height: 200px;
   object-fit:cover;
}
.milk-sweet{
    width: 100%;
    height: auto;
    margin-top: 50px;
}


.galeri ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    
}
.galeri ul li{
display: flex;
align-items: center;
justify-content: center;
flex-flow: column ;
   width: 116px;
   height: auto;
   background-color: antiquewhite;
margin: auto;
margin-top: 6px;

}
.galeri .cesit-ad {


  min-height: 50px;
  width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-flow: column;

}
.galeri{

    display: flex;
    flex-flow: column wrap;
    height: auto;    

}

.galeri .cesit-ad h2{
    text-align: center;
    font-size: 20px;
    font-weight: 550;
    
}
#dahafazla-btn{

 padding: 15px;
 background-color: #f4d23e;
    border-radius: 5px;
margin-left: 30%;
margin-top: 30px;
font-size: 16px;
font-weight: 700;

}
 .milk-fiyat{
     font-size: 20px;
     margin-top: 8px;
     text-align: center;
     
     
 }

.galeri ul li img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}


.Konum {
    width: 100%;
    height: 200px;
   
}

.Konum iframe{
  width: 100%;

}
 .konum-bilgisi{
    font-size: 2rem;
    margin: 15px;
    text-align: center; 
    font-weight: 900;
}



.Footer{
    width: 100%;
    height: 150px;
    
    
    font-size: 20px;
    background-color: #eeeeee;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.Footer p{
    text-align: center;
    font-weight: 900;
}
.sosyal-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sosyal-icon img{
    width: 38px;
    height: 38px;
   
    margin: 15px;
   
}

.froms{
    background-color: #4C4C4C;
    height:auto;
    display: flex;
    align-self: center;
    justify-content: center;
    z-index: 999;

}
.from-content{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
    position: relative;
}
.from-content .from-baslık{
    font-size: 24px;
    font-weight: bold;
    color: #F4F4F4;
    margin-bottom: 40px;
    margin-top: 10px;
}
.from-content .from-dzt{
    padding: 10px 15px;
    width: 100%;
    font-size: 20px;
    border-radius: 5px;
    
    margin-bottom: 15px;
    background-color: #DBDBDB;
    color: #4C4C4C;
}.lable-mesaj{
 
    font-size: 12px;
    color: #F4F4F4;
    transition: 300ms all;
    opacity: 0;
    margin-top: -10px;
   margin-bottom: 3px;
    
  
}

.email:focus + .lable-mesaj{
    opacity: 1;
}


.uyarı-ad{
    color: #F4F4F4;
    font-size: 12px;
   
  transition: 350ms all;
  opacity:1 !important;
  margin-left: -200px;
  margin-top: -10px;
  margin-bottom: 15px;

    
}


.active{
       color: #F4F4F4;
    font-size: 12px;
   opacity: 0;
  transition: 350ms all;
  
  margin-left: -200px;
  margin-top: -10px;
  margin-bottom: 15px;

}

.from-dzt:focus  {
  background-color: #F4F4F4;
}
#btn-from{
    padding: 10px 15px;
    background-color: #94deed;
    width: 60%;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
       
}




/* yapılacak şeyler silder alanına çerceve tarzı bisey eklenecek 
numara olan kısımdaki renkler düzgün secilecek 
logo düzenlenecek ve hareket katılacak

menu için resimler fiyatlar güncellenecek
 
font larda sıkıntı cıkıt onlar düzenlenecek
resimler farlı bir yerden alın biliınyorsa oradan alıncak



*/